*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
h1 {
	color: #313131;
	font-weight: 350;
    font-size: 2em;
}
.row {
	margin-left: 0px!important;
	margin-right: 0px!important;
}
.headder {
	margin-top: 10px;
	background-color: #7cb342;
	padding-top: 20px;
}
.headder .logo h1 {
	font-weight: 800;
	padding: 0px;
}
.headder .logo {
	text-align: center;

}
.headder .sologan p { 
	font-size: 12px;
	text-align: center;
	padding: 0px;
}
.footter {
	background-color: #7cb342;
	margin-bottom: 10px;
	padding: 15px;
	text-align: center;
}

button {
	background-color: #7cb342;
}
.btn-success {
    color: #fff;
    background-color: #7cb342;
    border-color: #7cb342
}

.menu {
	padding: 0px;
}

.banner img{
	padding: 0px;

}
.banner {
		margin-left: 0px;
	margin-right: 0px;
}
.menu > nav{
margin: 30px
}
.content {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
}
.content1 .left p, h1{
	text-align: left;
}
.one {
	background-color: #7cb342;
	padding: 15px;
	margin: 0px;
}
.one h1 {
	font-size: 34px;
	color: white;
	font-weight: 700;
	text-align: center;
}
.two {
	padding: 15px;
}
.two input {
margin-top: 10px;
margin-bottom: 10px;
}
.two button {
	background-color: #7cb342;
}
.content2 {
	padding-top: 60px;
}
b,a {
	color: #7cb342;
}
.content2 .right {
text-align: right;
}
.content2 .right p b {
	color: black;
}

.content2 .right p {
	color: #ababab;
}
.content3 {
	padding-top: 60px;
}
.content3 .right li p {
	padding-left: 20px;
}
.content4 {
	padding-top: 60px;	
	text-align: right;
}
.content4 p b {
	padding-right: 20px;
	color: #2c2c2c;
}
.content i {
	padding-left: 5px;
	padding-right: 5px;
	color: #7cb342;
}
.content4 b {
	padding-top: 10px;

}
.content4 p {
	padding-bottom: 10px;
}
.headder a{
	color: #313131;
	font-weight: 900;
	font-size: 10px;
}
.headder p {
	color: white;
	padding-left: 50px;
	font-weight: 600;
}
.headder .logo h1 {
	color: white;
	padding-left: 60px;

}
.headder .sologan p{
	padding-top: 10px;
}
.content1 .right {
	padding-left: 0px;
	padding-right: 0px;
			border: 2px solid;
	border-color: #fafafa;
box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.1);
}
.two input {
	border-radius: 0px;
}
.two .form-control:focus {
    border-color: #7cb342;
    box-shadow: none;
}
.content1 .left p {
	color: #050d31;
	margin: 0px;
}
.two button {
	border-radius: 0px;
	font-weight: 600;
}
.help {
	position: absolute;
	right: 0px;
	bottom: 0px;
	background-color: white;	
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.content2 img {
	position: absolute;
	left: -60px;
	bottom: 0px;
	max-width: 120%;
}
.content2 .right p {
	color: #050d31;
	margin: 0px;
}
.content1 {
	padding-bottom: 50px;
}
.content2 {
	padding-bottom: 50px;
}
.content3 .right {
		border: 2px solid;
	border-color: #fafafa;
	box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.1);
}
.content3 .right a {
	color: #023753;
	padding-left: 0px;
}
.content3 .right p {
	color: #023753;
	padding-left: 35px;
}
.content3 {
	padding-bottom: 50px;
}
.content4 img {
	position: absolute;
	left: -60px;
	top: 0px;
	max-width: 120%;
}
.friend {
	position: absolute;
	right: -50px;
	bottom: 0px;
	background-color: white;	
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.friend li {
	padding-left: 0px;
	padding-right: 0px;
			border: 2px solid;
	border-color: #fafafa;
	text-align: left;
}
.help li {
	padding-left: 0px;
	padding-right: 0px;
			border: 2px solid;
	border-color: #fafafa;
}
.content4 .right button {
	background-color: #7cb342;

}
.content4 .right h1 {
 	color: #023753;
 	text-align: right;

}
.content2 .right h1 {
 	color: #023753;	
}
.content4 {
	padding-bottom: 50px;
}
.content5 h1 {
	color: black;
}
.content5 p {
	color: black;
}	
.cmt {
	height: 300px;
}
.cmt p {
	padding-top: 60px;
	padding-left: 120px;
	padding-right: 100px;
	font-size: 40px;
}
.cmt img {
	position: absolute;
	top: 0px;
	left: 30px;
}
.carousel-control-next {
	color: #7cb342 !important;
}
.carousel-control-prev {
	color: #7cb342 !important;
}

.tacgia img {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}
.abc {
	max-width: 100%;
}
.content5 img {
	padding-top: 50px;
	max-width: 70%;
	margin: auto;
}
.content5 {
	padding-bottom: 100px;
}
.logo img {
	padding-bottom:  15px;

}